.grid__delete {
  position: absolute;
  right: 15px;
  top: 18px;
  height: 20px;
  width: 18px;
  background-color: transparent;
  border: none;
  background-image: url('/src/images/delete.svg');
  transition-duration: .5s;
}

.grid__delete:hover {
  opacity: .6;
}
