.profile__about {
  margin: 0;
  margin-bottom: 11%;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
}



@media screen and (min-width: 700px) {
  .profile__about {
    margin: 0 ;
    text-align: start;
    font-size: 18px;
    line-height: 22px;
  }
}
