.profile__edit {
  background-image: url(../../../images/edit.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 45%;
  height: 18px;
  width: 18px;
  border: 1px solid white;
  margin: 0;
  margin-left: 17px;
  cursor: pointer;
  transition-duration: .5s;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-indent: -9999px;
}

@media screen and (min-width: 700px) {
  .profile__edit {
    margin-top: 5px;
    margin-left: 24px;
    height: 24px;
    width: 24px;
  }

  .profile__edit:hover {
    opacity: .6;
  }
}

.profile__edit:focus {
  outline: none;
}
