.profile__name {
  padding: 0;
  margin: 0;
  margin-bottom: 4%;
  font-style: normal;
  font-weight: 500;
  font-size: 1.37em;
  line-height: 38px;
  text-align: center;
  color: #FFFFFF;
}



@media screen and (min-width: 700px) {
  .profile__name {
    margin: 0;
    font-size: 42px;
    line-height: 56px;
  }
}
