.profile__avatar {
  margin: 12% auto 12% auto;
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  background-size: cover;
  background-position-x: center;

}

@media screen and (min-width: 700px) {
  .profile__avatar {
    width: 127px;
    height: 127px;
    margin: auto 0;
  }
}

@media screen and (min-width: 882px) {
  .profile__avatar {
    margin-left: 0;
  }
}

.profile__avatar::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition-duration: 1s;
  display: block;
  background-image: url('/src/images/edit.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px;
}

.profile__avatar:hover::after {
  transition-duration: .5s;
  opacity: .8;
}

