@import url('__card/grid__card.css');
@import url('__image/grid__image.css');
@import url('__like/grid__like.css');
@import url('__like-container/grid__like-container.css');
@import url('__likes/grid__likes.css');
@import url('__like/_on/grid__like_on.css');
@import url('__list/grid__list.css');
@import url('__name/grid__name.css');
@import url('__text/grid__text.css');
@import url('__delete/grid__delete.css');


.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 100%;
  margin: 0;
  border-radius: 0 0 10px 10px;
}
