@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');
@import url('../blocks/page/page.css');
@import url('../blocks/popup/popup.css');
@import url('../blocks/popup/_opened/popup_opened.css');
@import url('../blocks/form/form.css');
@import url('../blocks/header/header.css');
@import url('../blocks/profile/profile.css');
@import url('../blocks/grid/grid.css');
@import url('../blocks/footer/footer.css');




.popup__image {
  margin: 0;
  max-height: 75vh;
  max-width: 100%;

}

.popup__content {

  position: relative;
  max-width: 90%;
}

.popup__caption {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  margin-top: 10px;
}




