.page__container {
  min-width: auto;
  max-width: 700px;
  margin: 0 auto;
  overflow: auto;
}

@media screen and (min-width: 700px) {
  .page__container {
    min-width: 700px;
    max-width: 882px;
  }
}
